.kontact {
    background: #9f8240;/* #F5F5F5;*/
    font-family: "Playfair Display", Sans-serif;
    padding: 0px;
    margin: 0px;
    /*position: sticky;
    
    /top: 50 px;

    z-index: -1000;
    */
}